.serviceText{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.serviceText .sub-service-text{
    width: 90%;
    display: flex;
    justify-content: space-between;

    /* background-color: aqua; */
    /* text-align: center; */
}
.serviceText .sub-service-text .service-content{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}
.serviceText .sub-service-text .service-content h4{
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
.serviceText .sub-service-text .service-content p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.serviceText .sub-service-text .img-div{
    width: 30%;
    border: 2px solid var(--darkYellow);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceText .sub-service-text .img-div img{
    width: 80%;

}


@media screen and (max-width: 933px) {
    .serviceText .sub-service-text {
        flex-direction: column;
        justify-content: center;
    }
    .serviceText .sub-service-text .service-content{
        width: 100%;
        margin-top: 50px;
        /* background-color: brown; */
    }
    /* .about-us .sub-about-us .about-us-text p{
        width: 100%;
    } */
    .serviceText .sub-service-text .img-div{
        width: 100%;
    }
    .serviceText .sub-service-text .img-div img{
        width: 100%;
    }
}