.sub-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--YellowColor);
    width: 300px;
    border-radius: 5px;
    padding: 15px 15px;
    min-height: 400px;
}
.sub-card .but-con{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.sub-card .but-con .top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1.5px solid var(--gray);
    padding-bottom: 15px;
}
.sub-card .but-con .top .top-icons{
    background-color: #96bdf8;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-card .but-con .top .top-icons svg{
    font-size: 30px;
    /* color: #fff; */
}
.sub-card .but-con .top .top-text{
    margin-left: 10px;
}
.sub-card .but-con .top .top-text h4{
    margin-block-start: 0;
    margin-block-end: 0;
    color: #fff;
    font-size: 0.8rem;
}
.sub-card .but-con .top .top-text p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 13px;
    color: var(--YellowColor);
}


.sub-card .but-con ul{
    padding-inline-start: 15px;
}
.sub-card .but-con ul li{
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
    width: fit-content;
    cursor: default;
}
.sub-card a{
    width: 100%;
    text-decoration-line: none;
    position: relative;
}
.sub-card a button{
    background-color: #fff;
    border: 1.5px solid #fff;
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}
.sub-card a button:hover{
    background-color: transparent;
    color: #fff;
}