.about-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--gray);
    background-image: url('../../img/c00cd74b0b22cd7e328a0853f8cab159.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.about-header .sub-about-header{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-header .sub-about-header h2{
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0px;
}
.about-header .sub-about-header p{
    width: 80%;
    color: #eeecec;
}
.about-header .sub-about-header ul{
    display: flex;
    padding-inline-start: 0;
    gap: 10px;
    list-style: none;
    margin-top: 0;
}
.about-header .sub-about-header ul a{
    text-decoration-line: none;
    color: #fff;
}
.about-header .sub-about-header ul li{
    cursor: pointer;
}
.about-header .sub-about-header ul li:hover{
    color: var(--YellowColor);
}



@media screen and (max-width: 700px) {
    .about-header .sub-about-header h2{
        font-size: 1.5rem;
    }
    .about-header .sub-about-header p{
        width: 95%;
    }
}