.service{
    display: flex;
    justify-content: center;
    background-color: var(--darkYellow);
    padding: 50px 0;
}
.service .sub-service{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
}
.service .sub-service .service-text{
    width: 35%;
    color: #fff;
    text-align: left;
}
.service .sub-service .service-text svg{
    color: #ca9d07;
    margin-left: 5px;
}
.service .sub-service .service-text h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-block-end: 0;
}
.service .sub-service .service-cards{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.service .sub-service .service-cards h2{
    font-size: 1.5rem;
    font-weight: 800;
    margin-block-end: 0;
    color: #fff;
    margin-bottom: 20px;
}
.service .sub-service .service-cards .sub-service-cards{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 952px) {
    .service .sub-service{
        flex-direction: column;
        gap: 50px;
    }
    .service .sub-service .service-text{
        width: 100%;
    }
    .service .sub-service .service-cards{
        width: 100%;
    }
}


@media screen and (max-width: 567px) {
    .service .sub-service .service-cards{
        justify-content: center;
    }
}