.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.937);
    position: sticky;
    top: 0;
    z-index: 9;
}
.navbar .sub-navbar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar .sub-navbar .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
}
.navbar .sub-navbar .desktop .img-div{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .sub-navbar .desktop .img-div img{
    position: relative;
    width: 100%;
}
.navbar .sub-navbar .desktop ul{
    display: flex;
    padding-inline-start: 0;
    width: 50%;
    justify-content: space-around;
}
.navbar .sub-navbar .desktop ul a{
    text-decoration-line: none;
}
.navbar .sub-navbar .desktop ul a li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}
.navbar .sub-navbar .desktop ul a li:hover{
    color: var(--YellowColor);
}






.navbar .sub-navbar .mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.863);
}
.navbar .sub-navbar .mobile .top{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.navbar .sub-navbar .mobile .top .img-div{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .sub-navbar .mobile .top .img-div img{
    position: relative;
    width: 100%;
}
.navbar .sub-navbar .mobile .top .buggar{
    position: relative;
}
.navbar .sub-navbar .mobile .top .buggar svg{
    font-size: 45px;
    color: #fff;
}
.navbar .sub-navbar .mobile .nav{
    height: 95vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.navbar .sub-navbar .mobile .nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
    gap: 30px;
}
.navbar .sub-navbar .mobile .nav ul a{
    text-decoration-line: none;
}
.navbar .sub-navbar .mobile .nav ul a li{
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}