.header{
    background-color: rgb(26, 26, 26);
    /* background-image: url('../../img/bca18913-2ba7-43b5-8247-70d77e739a2c.jfif'); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.header .text-div{
    background-image: linear-gradient(to right, #373737f1, #373737e0, transparent);
    padding: 40px 50px;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;

    width: 600px;
    height: 100%;
    max-width: 80%;
    margin-right: 10%;
}
.header .text-div p{
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--gray);
}
.header .text-div h1{
    margin-block-start: 5px;
    margin-block-end: 30px;
    color: #fff;
    font-size: 1.7rem;
}

.header .text-div h1 span{
    font-weight: 800;
    color: rgb(190, 190, 190);
}
.header .text-div button{
    padding: 10px 25px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    float: left;
    color: #fff;
    cursor: pointer;
}
.header .text-div button:hover{
    border: 1.5px solid var(--YellowColor);
    color: var(--YellowColor);
}


@media screen and (max-width: 952px) {
    .header{
        justify-content: center;
    }
    .header .text-div{
        padding: 40px 0px;
        padding-left: 5%;
        margin: 0;
        width: 100vw;
        background-image: linear-gradient(to right, #373737e0, #373737e0);
    }
}